<div class="container m-top-5px">
    <nav class="navbar navbar-expand bg-body-tertiary rounded">
        <div class="container-fluid">
            <a class="navbar-brand pointer" [routerLink]="[constants.ROUTE_HOME]" routerLinkActive="active">{{
                constants.APP
                }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[constants.ROUTE_HOME]" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact : true }">{{ constants.LABEL_HOME }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[constants.ROUTE_ABOUT]" routerLinkActive="active">
                            {{ constants.LABEL_ABOUT }}
                        </a>
                    </li>
                </ul>
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img src="assets/images/user.png" alt="mdo" width="32" height="32" class="rounded-circle"> -->
                        <small>{{ user.userName }}</small>
                    </a>
                    <ul class="dropdown-menu text-small dropdown-menu-end">
                        <li>
                            <a class="dropdown-item pointer" (click)="onLogout()">
                                <i class="fas fa-sign-out-alt"></i> {{ constants.LABEL_LOGOUT }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>